AFTERNOON CODES

In [7]:
#df
import pandas as pd
data={'Name':['Mark','Steve','Jenny'],
      'Age':[22,21,22],
      'Branch':['EEE','CSE','Mech']}
dframe=pd.DataFrame(data)
print(dframe)
print(dframe['Name'])
print(dframe[['Name','Branch']])

    Name  Age Branch
0   Mark   22    EEE
1  Steve   21    CSE
2  Jenny   22   Mech
0     Mark
1    Steve
2    Jenny
Name: Name, dtype: object
    Name Branch
0   Mark    EEE
1  Steve    CSE
2  Jenny   Mech

In [1]:
#userdf
import pandas as pd
n=int(input("Enter number of profiles:"))
names=[]
ages=[]
branches=[]
for i in range(n):
    print(f"----Enter{i+1}----")
    name=input("Enter Name:")
    age=input("Enter Age:")
    branch=input("Enter Branch:")
    names.append(name)
    ages.append(age)
    branches.append(branch)
data={"Name":names,'Age':ages,'Branch':branches}
df=pd.DataFrame(data)
print("\n DataFrame created")
print(df)

----Enter1----
----Enter2----
----Enter3----

 DataFrame created
    Name Age Branch
0   neta  20    cse
1  venky  22    ece
2   siva  25  civil

In [ ]:
#df2
import pandas as pd
data={'Name':['Mark','Steve','Jenny'],
      'Age':[22,21,22],
      'Branch':['EEE','CSE','Mech']}
dframe=pd.DataFrame(data)
print(dframe)
print(dframe['Name'])
print("-----1")
print(dframe[['Name','Branch']]) 
print("-----2")
print(dframe.iloc[1])
print("-----3")
stipend=[10000,11000,9000]
print(dframe)
print("-----4")
dframe.insert(3,'salary',stipend)
print(dframe)
print("---------------5")#some error occured
dframe.at[2,'Age']=25
print(dframe)

    Name  Age Branch
0   Mark   22    EEE
1  Steve   21    CSE
2  Jenny   22   Mech
0     Mark
1    Steve
2    Jenny
Name: Name, dtype: object
-----1
    Name Branch
0   Mark    EEE
1  Steve    CSE
2  Jenny   Mech
-----2
Name      Steve
Age          21
Branch      CSE
Name: 1, dtype: object
-----3
    Name  Age Branch
0   Mark   22    EEE
1  Steve   21    CSE
2  Jenny   22   Mech
-----4
    Name  Age Branch  salary
0   Mark   22    EEE   10000
1  Steve   21    CSE   11000
2  Jenny   22   Mech    9000
---------------5
    Name  Age Branch  salary
0   Mark   22    EEE   10000
1  Steve   21    CSE   11000
2  Jenny   25   Mech    9000

In [18]:
#access_csv.py
import pandas as pd
import numpy as np
data={
    'patient_ID':['P001','P002','P003','P004','P005','P006'],
    'Name':['vijay','Ajay','kiran','Amit','suresh',None],
    'Age':[34,30,None,60,25,50],
    'Department':['carona','cancer','neurology','cardiology','cancer','ICU'],
    'Bill':[7000,8000,9000,10000,11000,None]
}
df=pd.DataFrame(data)
df.to_csv('hospital_data.csv',index=False)
print("Created data successfully...")

Created data successfully...

In [19]:
#explore
import pandas as pd
try:
    df=pd.read_csv('hospital_data.csv')
    print("\n Hospital DataFrame: ")
    print(df)
#Display basic info
    print("\n DataFrame Info: ")
    print(df.info())
    print("\n summary statistics")
    print(df.describe())
except FileNotFoundError:
    print("Error:'hospital_data.csv' not found.")

 Hospital DataFrame:
  patient_ID    Name   Age  Department     Bill
0       P001   vijay  34.0      carona   7000.0
1       P002    Ajay  30.0      cancer   8000.0
2       P003   kiran   NaN   neurology   9000.0
3       P004    Amit  60.0  cardiology  10000.0
4       P005  suresh  25.0      cancer  11000.0
5       P006     NaN  50.0         ICU      NaN

 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   patient_ID  6 non-null      object
 1   Name        5 non-null      object
 2   Age         5 non-null      float64
 3   Department  6 non-null      object
 4   Bill        5 non-null      float64
dtypes: float64(2), object(3)
memory usage: 372.0+ bytes
None

 summary statistics
             Age         Bill
count   5.000000      5.00000
mean   39.800000   9000.00000
std    14.669697   1581.13883
min    25.000000   7000.00000
25%    30.000000   8000.00000
50%    34.000000   9000.00000
75%    50.000000  10000.00000
max    60.000000  11000.00000

In [21]:
#missingdf
import pandas as pd
try:
    df=pd.read_csv('hospital_data.csv')
    print("\n Original hospital DataFrame")
    print(df)
#check missing values
    print("\n mising values")
    print(df.isna())
#filling name by unknown,value by 0
    df_filled=df.copy()
    df_filled['Name']=df_filled['Name'].fillna('Unkown')
    df_filled['Age']=df_filled['Age'].fillna(df_filled['Age'].mean())
    df_filled['Bill']=df_filled['Bill'].fillna(0)
    print("\n dataframe after filling by default: ")
    print(df_filled)
except FileNotFoundError:
    print("Errror: 'hospital_data.csv' not found")

 Original hospital DataFrame
  patient_ID    Name   Age  Department     Bill
0       P001   vijay  34.0      carona   7000.0
1       P002    Ajay  30.0      cancer   8000.0
2       P003   kiran   NaN   neurology   9000.0
3       P004    Amit  60.0  cardiology  10000.0
4       P005  suresh  25.0      cancer  11000.0
5       P006     NaN  50.0         ICU      NaN

 mising values
   patient_ID   Name    Age  Department   Bill
0       False  False  False       False  False
1       False  False  False       False  False
2       False  False   True       False  False
3       False  False  False       False  False
4       False  False  False       False  False
5       False   True  False       False   True

 dataframe after filling by default:
  patient_ID    Name   Age  Department     Bill
0       P001   vijay  34.0      carona   7000.0
1       P002    Ajay  30.0      cancer   8000.0
2       P003   kiran  39.8   neurology   9000.0
3       P004    Amit  60.0  cardiology  10000.0
4       P005  suresh  25.0      cancer  11000.0
5       P006  Unkown  50.0         ICU      0.0